.address {
    display: block;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    height: 95px;
}

.textbox {
    display: block;
    margin-bottom: 10px;
}

#road_address {
    font-size: 11pt;
}

#building_name {
    padding-bottom: 5px;
    font-size: 10pt;
}