.list {
    display: block;
    margin: 0 auto;
    padding-top: 310px;
    padding-bottom: 211px;
    width: 95%;
    height: 100%;
}

@media (min-width: 1000px) {
    .list {
        padding-top: 461px;
    }
}