.search {
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 100%;
    padding-top: 30px;
    background-color: rgb(63, 63, 236);
}


form {
    
    height: 100%;
    width: 100%;
}

#textbox {
    display: inline-block;
    position: absolute;
    top: 42px;
    left: 5%;
    height: 40px;
    width: 70%;
}

.but {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 5%;
    width: 15%;
    height: 50px;
}